@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Poppins:wght@300;400;600;700&family=Space+Mono&display=swap');
body {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 50rem; 
    margin: 0 auto;
    padding: 0.25rem; 
    border: 0.125rem solid #000;
    background-color: #FFF;
}

.label-container {
    max-width: 18.75rem;
    margin: 0 auto;
    padding: 0.625rem;
    border: 0.125rem solid #000; 
    border-radius: 0.625rem; 
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 1px solid rgb(204, 204, 204); 
    display: inline-block; /* Make the title inline-block element */
    border-bottom: 1px solid rgb(211, 211, 211); /* Add a grey line under the title */
    padding-bottom: 0.15rem;
}

.nutrition-facts {
    width: 100%;
    border-collapse: collapse;
    
}

th, td {
    padding: 0.125rem; /* 2px to rem */
    border: none /* 1px to rem */
    
}

th {
    border-bottom: 1px solid rgb(211, 211, 211);
    
}
th.label {
    font-size: 100;
}